<div class="container p-2">
    <article >
    <div class="content-body box-border p-3">
        <figure class="itemside align-items-center">
            <div class="aside">
                <span class="bg-gray icon-md rounded-circle">
                    <img [src]='profile.avatar' class="icon-md rounded-circle">
                </span>
            </div>
            <figcaption class="info d-flex justify-content-between align-items-center">
                <h5 class="title">{{profile.name}}</h5>
                <button class="btn btn-warning rounded py-2 px-1" (click)="openEditModal(profile)">
                    <i class="fa fa-pen "></i>
                </button>
            </figcaption>
        </figure>
        <hr>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-envelope"></i>
                    </b>
                    Email: {{profile.email}}
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-phone-flip"></i>
                    </b>
                    Phone: +1234567890988
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light">
                    <b class="mx-2 text-muted">
                        <i class="fa-solid fa-user"></i>
                    </b>
                    {{profile.role}}
                </article>
            </div>
            <div class="col-md-6">
                <article class="box bg-light Address">
                    <b class="mx-2 text-muted">
                        <i class="fa fa-map-marker-alt"></i>
                    </b>
                    111 Central Avenue,
                    California, United States
                </article>
            </div>
        </div>
    </div>
</article>
<div class="modal fade" [class.show]="isVisible" id="EditModal" tabindex="-1" role="dialog"
    aria-labelledby="EditModalLabel" [style]="isVisible?'display: block;':''">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title" id="EditModalLabel">Edit User Data</h5>
                <button type="button text-muted" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeEditModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUserFormGroup">
                    <div class="form-group">
                        <label for="fullName" class="col-form-label">Full Name:</label>
                        <input type="text" class="form-control" id="fullName" formControlName="name">
                        @if (editUserForm['name'].invalid && isSubmitted) {
                        <small class="d-block text-danger">
                            Name is required
                        </small>
                        }
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="col-form-label">Email Address:</label>
                        <input type="email" class="form-control" id="emailAddress" formControlName="email">
                        @if (editUserForm['email'].invalid && isSubmitted) {
                        <small class=" d-block text-danger">
                            @if (editUserForm['email'].errors?.['required']) {
                            <span>Email is required</span>
                            }
                            @if (editUserForm['email'].errors?.['email']) {
                            <span>Email is invalid</span>
                            }
                        </small>
                        }
                    </div>
                    <div class="form-group">
                        <label for="userRole" class="col-form-label">Role:</label>
                        <input type="text" class="form-control" id="userRole" formControlName="role">
                        @if (editUserForm['name'].invalid && isSubmitted) {
                        <small class="d-block text-danger">
                            role is required
                        </small>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeEditModal()">Cancel</button>
                <button class="btn btn-warning" type="submit" (click)="onSubmit()">Edit</button>
            </div>
        </div>
    </div>
</div>
</div>