
.content {
    padding: 0 ;
}

@media only screen and (max-width: 767px) {
    .content {
        padding: 0px;
    }
}

.spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    z-index: 999999;
}

.loader {
    width: 300px;
    height: 100px;
    margin: 30px auto 0;
    position: relative;
    top: 29%;
}

.loader span {
    background-color: #909090;
    height: 20px;
    width: 20px;
    border-radius: 5rem;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 52.5%;
    left: 150px;
    transition: all 0.15s ease-in-out;
}

.loader span:nth-child(1) {
    left: 80px;
    animation: waveUp 2s, smallExtend 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loader span:nth-child(2) {
    left: 115px;
    animation: waveUp 2s, largeExtend 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.15s;
}

.loader span:nth-child(3) {
    animation: waveUp 2s, smallExtend 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

.loader span:nth-child(4) {
    left: 185px;
    animation: waveUp 2s, largeExtend 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.45s;
}

.loader span:nth-child(5) {
    left: 220px;
    animation: waveUp 2s, smallExtend 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}

@keyframes waveUp {

    0%,
    15% {
        top: 50%;
    }

    45%,
    65% {
        top: 42.5%;
    }

    85%,
    100% {
        top: 50%;
    }
}

@keyframes smallExtend {

    0%,
    8% {
        background-color: #909090;
        height: 20px;
    }

    14%,
    34% {
        background-color: #879221;
        height: 47.5px;
    }

    46%,
    100% {
        background-color: #909090;
        height: 20px;
    }
}

@keyframes largeExtend {

    0%,
    8% {
        background-color: #909090;
        height: 20px;
    }

    14%,
    34% {
        background-color: #879221;
        height: 82.5px;
    }

    46%,
    100% {
        background-color: #909090;
        height: 20px;
    }
}

/*--
    02.1 Header Top
-----------------------------------------*/
.header-top,
.header-bottom {
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-top .justify-content-between>[class*="col"] {

    flex-grow: 0;
    flex-basis: auto;
    width: auto;
}


/*-- Header Top Border --*/
.header-bottom-border {
    border-bottom: 1px solid #e8e8e8;
}

.header-bg {
    background-color:#0d6efd;
}

/*-- Header Links --*/
.header-links {
    overflow: hidden;
}

.header-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-links a:hover {
    color: #202020;
}

.header-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a {
        margin-right: 15px;
    }
}

.header-links a img {
    margin-right: 10px;
}

@media only screen and (max-width: 479px) {
    .header-links a img {
        margin-right: 5px;
    }
}

.header-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-links a span {
        font-size: 11px;
    }
}

/*-- Header Account Links --*/
.header-account-links {
    overflow: hidden;
}

.header-account-links a {
    color: #444444;
    text-transform: uppercase;
    line-height: 30px;
    margin-right: 30px;
    display: block;
    float: left;
}

.header-account-links a:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a {
        margin-right: 15px;
        line-height: 24px;
    }

    .header-account-links a:last-child {
        margin-left: 67px;
    }
}

.header-account-links a i,
.header-links a i {

    font-size: 18px;
    color: #a6a6a6;
    float: left;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a i {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .userProfile-Link img.d-inline.rounded-circle {
        width: 22px;
        height: 22px;
        margin-left: 5px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a i {
        margin-right: 7px;
    }
}

.header-account-links a span {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-account-links a span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .header-account-links a span {
        display: none;
        font-size: 11px;
        padding-left: 8px;
    }

    .input-group {
        margin-top: 7px;
    }

    .input-group input {
        width: 27% !important;
    }
}

@media only screen and (max-width: 479px) {
    .header-account-links a span {
        display: block;
        margin-top: 2px;
        font-size: 13px;
        /* padding: 0; */

    }
}

/*-- Header Shop Links --*/
.header-shop-links a {
    color: #444444;
    float: left;
    margin-right: 30px;
}

.header-shop-links a:hover {
    color: #202020;
}

.header-shop-links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a {
        margin-right: 10px;
    }
}

.header-shop-links a i {
    font-size: 24px;
    line-height: 30px;
    display: block;
    float: left;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a i {
        font-size: 20px;
    }
}

.header-shop-links a .number {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    position: relative;
    top: -10px;
    right: 5px;
    background-color: #202020;
    color: #fff;

}

.header-shop-links a.header-cart {
    color: #879221;
}

.header-shop-links a.header-cart .number {
    left: -5px;
    top: -9px;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a .number {
        width: 16px;
        height: 16px;
        margin-top: 7px;
        font-size: 10px;
        line-height: 16px;
    }
}

.header-shop-links a.header-wishlist {
    margin-right: 23px;
    color: #879221;
}


@media only screen and (max-width: 479px) {
    .header-shop-links a.header-wishlist {
        margin-right: 3px;
        color: #879221;
    }
}

/*-- Logo --*/
.header-logo a {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
}

.header-logo a i {
    color: #879221;
}

/*-- Sticky Header --*/
.header-sticky.is-sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  //  background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}



.footer-top {
    padding: 4.375rem 0;
    border: solid #eff1f2;
    border-width: 1px 0 1px 0;
}

.five-column-widget>[class*="col"],
.five-column-widget>[class*="col-"] {
    width: 20%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .five-column-widget>[class*="col"],
    .five-column-widget>[class*="col-"] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .five-column-widget>[class*="col"],
    .five-column-widget>[class*="col-"] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 767px) {

    .five-column-widget>[class*="col"],
    .five-column-widget>[class*="col-"] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*-- Footer Widget --*/
.footer-widget .widget-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.footer-widget .footer-logo {
    max-width: 100%;
    margin: auto 0 25px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    clear: both;
}

.footer-widget .footer-logo img {
    display: block;
    max-width: 100%;
}

.footer-widget .footer-logo img.theme-dark {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.footer-widget p {
    max-width: 430px;
    font-size: 14px;
    line-height: 24px;
    margin: auto;
}

.footer-widget.text-center .footer-logo {
    margin: auto auto 25px;
}

/*-- Footer Social --*/
.footer-social {
    margin-top: 30px;
}

.footer-social a {
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: 1px solid #d1d1d1;
    text-align: center;
    color: #606060;
    float: left;
    margin-right: 10px;
}

.footer-social a i {
    font-size: 13px;
    line-height: 32px;
    display: block;
}

.footer-social a:hover {
    border-color: #202020;
    color: #202020;
}

/*-- Footer Instagram --*/
.footer-instagram {
    margin: -5px;
    width: auto;
}

.footer-instagram li {
    padding: 5px;
    float: left;
    width: 33.3333%;
}

.footer-instagram li a {
    display: block;
    position: relative;
    color: #202020;
}

.footer-instagram li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #f5d730;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-instagram li a img {
    width: 100%;
}

.footer-instagram li a span {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 9;
    display: block;
    line-height: 24px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-instagram li a span i {
    float: left;
    margin-right: 3px;
    line-height: 24px;
}

.footer-instagram li a:hover::before {
    opacity: 0.85;
}

.footer-instagram li a:hover span {
    opacity: 1;
}

/*-- Contact Information --*/
p.contact-info {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 13px;
}

p.contact-info:last-child {
    margin: 0;
}

p.contact-info span {
    display: block;
    font-weight: 600;
    color: #202020;
}

p.contact-info span i {

    /* color: #fb5231; */
    color: #a6a6a6;
}

p.contact-info a {
    display: block;
    font-size: 14px;
    line-height: 23px;
}

p.contact-info a:hover {
    color: #202020;
}

/*-- Link Widget --*/
ul.link-widget li {
    margin-bottom: 11px;
}

ul.link-widget li:last-child {
    margin: 0;
}

ul.link-widget li a {
    font-size: 14px;
    line-height: 23px;
}

ul.link-widget li a:hover {
    color: #202020;
}

/*-- Footer Twitter Feed --*/
.footer-tweet ul li {
    font-size: 14px;
    line-height: 23px;
    padding-left: 35px;
    position: relative;
    margin-bottom: 25px;
}

.footer-tweet ul li:last-child {
    margin: 0;
}

.footer-tweet ul li::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: "\ee34";
    font-family: 'IcoFont';
    color: #444444;
    font-size: 24px;
    display: block;
}

.footer-tweet ul li .author a {
    font-weight: 600;
    color: #202020;
}

.footer-tweet ul li>a {
    color: #1da1f3;
    display: block;
}

/*----
      27.2 Footer Bottom
  -----------------------------------------*/
.footer-bottom-section {
    border-top: 1px solid #eae9e9;
    padding: 20px 0;
}

/*-- Footer Copyright --*/
.footer-copyright {
    text-align: left;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-widget {
        margin-top: 15px;
    }

    .footer-widget .widget-title {
        margin-bottom: 8px;
    }

    .footer-copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .footer-widget {
        margin-bottom: 15px;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-top {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .footer-widget .widget-title {
        margin-bottom: 8px;
    }
}

.footer-copyright p {
    font-size: 14px;
    line-height: 30px;
}

.footer-copyright p a {
    font-weight: 600;
    color: #202020;
}

/*-- Footer Copyright Image --*/
.footer-payments-image {
    text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-payments-image {
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .footer-payments-image {
        text-align: center;
        margin-top: 10px;
    }
}

.PaymentImg {
    max-width: 100%;
}

.emailInput {
    border-color: transparent;
    border-bottom: 3px #0d0d0d solid;
    border-radius: 0;
}

.emailInput:focus {
    outline: none;
    box-shadow: none;
}

.Subscribe_btn {
    color: #0d0d0d;
    font-weight: 700;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: 0.5s;
    border-bottom: 3px #0d0d0d solid;
    border-radius: 0;
}

.Subscribe_btn:hover {
    color: #fb5231;
}