.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 1.5s;
  padding-top: 60px;
}

.expand {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




/*-- Header Shop Links --*/
.header-shop-links a {
    color: #444444;
    float: left;
    margin-right: 30px;
}

.header-shop-links a:hover {
    color: #202020;
}

.header-shop-links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a {
        margin-right: 10px;
    }
}

.header-shop-links a i {
    font-size: 24px;
    line-height: 30px;
    display: block;
    float: left;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a i {
        font-size: 20px;
    }
}

.header-shop-links a .number {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    position: relative;
    top: -10px;
    right: 5px;
    background-color: #202020;
    color: #fff;

}

.header-shop-links a.header-cart {
    color:  #879221;
}

.header-shop-links a.header-cart .number {
    left: -5px;
    top: -9px;
}

@media only screen and (max-width: 479px) {
    .header-shop-links a .number {
        width: 16px;
        height: 16px;
        margin-top: 7px;
        font-size: 10px;
        line-height: 16px;
    }
}

.header-shop-links a.header-wishlist {
    margin-right: 23px;
    color:  #879221;
}


@media only screen and (max-width: 479px) {
    .header-shop-links a.header-wishlist {
        margin-right: 3px;
        color:  #879221;
    }
}