name: Build & Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20' # Use a recent Node.js version

    - name: Install dependencies
      run: npm install

    - name: Build Angular app
      run: npm run build -- --base-href=/e-com-angular/ # Adjust your repository name

    - name: Deploy to GitHub Pages
      uses: angular-schule/pages-action@v2 # A popular action for this purpose
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        build_path: dist/your-project-name # Adjust to your output path in angular.json
